<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light mb-2">
    <li class="breadcrumb-item active" aria-current="page">Unidades de medida</li>
  </ol>
</nav>

<div class="row mb-2" *appAuthorizedCreate>
  <div class="col-lg-12">
    <a routerLink="/unidades-medida/adicionar" class="btn btn-primary">
      <fa-icon [icon]="iconCreate" class="mr-1"></fa-icon>Adicionar
    </a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <fa-icon [icon]="iconTable" class="mr-1"></fa-icon>Lista de unidades de medida
  </div>
  <div class="card-body">

    <div *ngIf="tableResult">

      <table class="table table-hover table-striped table-sm border-bottom w-100 default-table">
        <thead>
          <tr>
            <th scope="col" class="col-80" sortable="Nome" (sort)="onSort($event)">Nome</th>
            <th scope="col" class="col-20" sortable="Sigla" (sort)="onSort($event)">Sigla</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          <tr>
            <th>
              <input class="form-control form-control-sm w-100" placeholder="Nome" autocomplete="off" searchable="Nome"
                (search)="onSearch($event)">
            </th>
            <th>
              <input class="form-control form-control-sm w-100" placeholder="Sigla" autocomplete="off"
                searchable="Sigla" (search)="onSearch($event)">
            </th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <div *ngIf="tableResult.recordsFiltered === 0; then thenFiltered else elseFiltered"></div>

          <ng-template #thenFiltered>
            <tr>
              <td colspan="6" class="text-center">
                Nenhum registro encontrado.
              </td>
            </tr>
          </ng-template>

          <ng-template #elseFiltered>
            <tr *ngFor="let unidadeMedida of tableResult.data">
              <td>{{ unidadeMedida.nome }}</td>
              <td>{{ unidadeMedida.sigla }}</td>
              <td>
                <div *appAuthorizedUpdate>
                  <div *ngIf="unidadeMedida.ativo; then thenActive else elseActive"></div>

                  <ng-template #thenActive>
                    <button class="btn btn-outline-danger btn-sm" ngbTooltip="Desativar o registro"
                      (click)="onDeactivate(unidadeMedida.id)">
                      <fa-icon [icon]="iconDeactivate"></fa-icon>
                    </button>
                  </ng-template>

                  <ng-template #elseActive>
                    <button class="btn btn-outline-success btn-sm" ngbTooltip="Ativar o registro"
                      (click)="onActivate(unidadeMedida.id)">
                      <fa-icon [icon]="iconActivate"></fa-icon>
                    </button>
                  </ng-template>
                </div>
              </td>
              <td>
                <a [routerLink]="['/unidades-medida/visualizar', unidadeMedida.id]" class="btn btn-info btn-sm"
                  ngbTooltip="Visualizar o registro">
                  <fa-icon [icon]="iconRead"></fa-icon>
                </a>
              </td>
              <td>
                <div *appAuthorizedUpdate>
                  <a *ngIf="unidadeMedida.ativo" [routerLink]="['/unidades-medida/atualizar', unidadeMedida.id]"
                    class="btn btn-warning btn-sm" ngbTooltip="Atualizar o registro">
                    <fa-icon [icon]="iconUpdate"></fa-icon>
                  </a>
                </div>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" ngbTooltip="Remover o registro"
                  (click)="onDelete(unidadeMedida.id)" *appAuthorizedDelete>
                  <fa-icon [icon]="iconRemove"></fa-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </tbody>
        <tfoot>
          <tr>
            <td class="font-weight-bold">Nome</td>
            <td class="font-weight-bold">Sigla</td>
            <td class="font-weight-bold" colspan="4"></td>
          </tr>
        </tfoot>
      </table>

      <div class="row">
        <app-information class="col-lg mb-3" [start]="tableFilter.start" [length]="tableFilter.length"
          [recordsFiltered]="tableResult.recordsFiltered" [recordsTotal]="tableResult.recordsTotal">
        </app-information>

        <app-pagination class="col-lg d-flex justify-content-end" [start]="tableFilter.start"
          [length]="tableFilter.length" [recordsFiltered]="tableResult.recordsFiltered" (page)="onPage($event)">
        </app-pagination>
      </div>

    </div>

  </div>
</div>